<div>
  <label>Input feild</label>
  <input type="text" [(ngModel)]="inputValue">
  <button (click)="search(inputValue)">Search</button>
  <h3 *ngIf="typePresent" style="color: green;"> Title is present in the list.</h3>
  <h3 *ngIf="!typePresent && typePresent!=undefined" style="color: red;"> Title is not present in the list.</h3>
</div>

<app-content-card [item]="contentItem"></app-content-card>

<h2>Items with no type :</h2>
<div class="card-container">

  
 
<app-content-card *ngFor="let item of contentArray | contentTypeFilter" [item]="item">
</app-content-card>

<h2>Items with type 'Indian':</h2>
<div class="card-container">
  
  <app-content-card *ngFor="let item of contentArray | contentTypeFilter:'Indian'" [item]="item">
  </app-content-card>
</div>

<h2>Items with type 'Casual':</h2>
<div class="card-container">
   
  <app-content-card *ngFor="let item of contentArray | contentTypeFilter:'Casual'" [item]="item">
  </app-content-card>
</div>

